<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <title>Campanhas publicitárias</title>
   </head>
   <body>
      <img src="../static/imagens/capa.png" alt="capa">

      <div class="menu">
         <a href="/">HOME</a> |
         <a href="/biografia" target="_blank">BIOGRAFIA</a> |
         <a href="/publicidade" target="_blank">CAMPANHAS PUBLICITÁRIAS</a> |
         <a href="/contatos" target="_blank">CONTATOS</a>
      </div>

      <div class="conteudo">
         <h3>Campanhas publicitárias</h3>

         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores doloribus recusandae cumque aut molestias accusantium. Error laborum quis magnam! Ad eligendi quis nesciunt dignissimos soluta aut adipisci exercitationem fuga nihil!</p>
         
         <img src="../static/imagens/foto1.png" alt="foto1">

         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, corrupti ullam adipisci unde quas molestiae porro voluptatibus saepe odio culpa quisquam officiis, ad libero, tempora eum. Cum illum voluptate deleniti.</p>

         <img src="../static/imagens/foto2.png" alt="foto2">

         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae harum, delectus non laudantium quasi consequatur molestias ipsa. Laboriosam inventore impedit, reprehenderit quae dolorum fugiat veniam reiciendis assumenda nihil dolores.</p>
      
         <img src="../static/imagens/foto3.png" alt="foto3">
      </div>

      <div class="rodape">
         <p>Todos os direitos reservados</p>
      </div>
   </body>
</html>